.bg-list-players {
  background: url('../images/bg_complete.png') top left no-repeat #0b0956;
  background-size: cover;
  background-position-y: -133rem;
  top: 0;
  bottom: 0;
  padding-bottom: 3rem
}

.wrapper-card-fut{
  background: url('../images/bg-fut-ldc-new.png') top left no-repeat;
  background-size: cover;
  position: relative;
  width: 260px;
  height: 386px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.name-fut h5{
  text-align: center;
  color: #b2fff0;
  text-transform: uppercase;
  position: absolute;
  width: 77%;
  background: linear-gradient(10deg, rgb(32, 41, 102), rgba(255,0,0,0) 70.71%);
  padding-top: 7px;
  margin: 9rem auto;
  margin-left: 2rem;
  padding-bottom: 7px;
}

.infos-left-fut {
  position: absolute;
  color: #a7ffee;
  font-weight: 600;
  left: 3.2rem;
  font-size: 2.3rem;
  top: 5rem;
}

.infos-capacities-left, .infos-capacities-right {
  display: inline-block;
  margin-top: 12.3rem;
  color: #a7ffee;
  font-size: 1.1rem;
  line-height: 0;
  padding: 0;
  margin-bottom: 0;
  text-align: center;

}
.infos-capacities-left {
  width: 57%;
}
.infos-capacities-left span, .infos-capacities-right span {
  display: block;
  line-height: 1.5rem;
}

.img-user-fut {
  position: absolute;
}
.img-user-fut img {
  top: 7px;
  margin-top: 0.5rem;
  margin-left: 4.7rem;
  width: 149px;
}

.marg-top-fut-bg{
  margin-top: 5rem;
  color: #fff;
  font-size: large;
}

.infos-player .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #ffffff;
}

.infos-player .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f030;
  text-transform: uppercase;
}

.marg-top-fut-bg img {
  width: 85px;
  /* max-height: 100%; */
  margin: 18px auto;
  margin-left: 5rem;
  position: relative;
}

.title-table .table {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #e3e6f0;
}

span i.fa{
  font-size: 2rem;
  color: #31eb31;
  line-height: 1px;
  vertical-align: middle;
}

.bg-hat {
  background: url(../images/bg-fut-ldc-new.png) top left no-repeat;
  background-size: contain;
  background-position-y: 7px;
  width: 90px;
  height: 150px;
  margin: 5rem auto;
  margin-bottom: 1rem;
}

.position-num-hat h6 {
  line-height: 6rem;
  font-size: 1rem;
  padding-left: 5px;
}

.num-hat h6 {
  font-size: 4rem;
  text-align: center;
  /* top: -7px; */
  line-height: 1px;
}

.rest-infos {
  text-align: center;
  color: #fff;
  font-size: x-large;
}

.match-played {
  color: #fff;
  font-size: 3rem;
  font-weight: Bold;
  text-align: center;
}


.info-sigle, .man-of-match {
  text-align: center;
  color: #fff;
}

.info-sigle p {
  font-size: smaller;
}

.title-table table.table td {
  padding: 0.75rem;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #e3e6f0;
}


.title-table h6{
  font-size: 2rem;
}

.margin-b-2 {
  margin-bottom:  2rem;
}



.border-bottom-table {
  border-bottom: 1px solid #3e4e9a;
}
.border-left-table {
  border-left: 1px solid #3e4e9a;
}
.border-right-table {
  border-right: 1px solid #3e4e9a;
}

.divider-blue {
  width: 99%;
  height: 6px;
  background: url(../images/divider-blue.png) top left no-repeat;
  background-position-x: -86px;
  margin-top: 6rem;
}

.divider {
  width: 100%;
  height: 9px;
  background: url(../images/divider.png) top left no-repeat;
  background-position-x: center;
}

.color-white {
  color: #fff;
}

.font-xx-large {
  font-size: xx-large;
}
.marg-top {
  margin-top: 2rem;
}

main.py-4 {
  padding-top: 0 !important;
}

table[id^="listPlayer_"] {
  text-align: center;
}

.box-example-square .br-wrapper {
  width: 190px;
  position: absolute;
  margin: 0px 0 0 -95px;
  left: 50%;
}

.box select {
  width: 120px;
  margin: 10px auto 0 auto;
  display: block;
  font-size: 16px;
}

.table-vote td {
  vertical-align: center;
}

@media (max-width: 1600px) {
  .bg-list-players{
    background-position-y: -83rem;
  }
}
